body {
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
  background-color: black;
  text-align: center;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/* HEADINGS */
.header--container {
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
}
.header--logo {
  height: 50px;
  margin-left: 10px;
  margin-right: auto;
}
.header--navbar{
margin-right: 15px;
}
.header--navbar a{
  text-decoration: underline;
  color: seashell;
}

/* Jumbotron */




/* LINKS */
.link--cta {
  font-size: 16px;
  color: aquamarine;
}

/* FOOTER */
.footer--style {
  text-align: right;
  color: grey;
  font-size: 21px;

}
